{{extend 'layout.html'}}

<script src="http://microsofttranslator.com/ajax/v3/widgetv3.ashx" type="text/javascript"></script>

<form action="{{=URL('do_automatic')}}" method="get">
    <select name="_from" id="_from">

    </select>
    <select name="_to" id="_to">

    </select>
    <input type="submit">
</form>
        <script>
            var languages = Microsoft.Translator.Widget.GetLanguagesForTranslateLocalized();

            var from = document.getElementById('_from');
            var to = document.getElementById('_to');
            for (var key in languages)
            {
                var optLang = document.createElement('option');
                //Language name is in .Name property
                optLang.innerHTML = languages[key].Name;
                //Langauge code is .Code property
                optLang.value = languages[key].Code;
                var optLangTo = document.createElement('option');
                //Language name is in .Name property
                optLangTo.innerHTML = languages[key].Name;
                //Langauge code is .Code property
                optLangTo.value = languages[key].Code;
                from.appendChild(optLang);
                to.appendChild(optLangTo);
            }

        </script>

{{=form}}

        <form action="{{=URL('export')}}" method="get">
            <input type="submit" value="Export">
        </form>